*{
    box-sizing: border-box;
}
body{
    margin:0;
    background:#a9ddfc;
    text-align:center;
    font-family:sans-serif
    padding: 0 30px; 
}
h1{
    margin-top: 100px;
    margin-bottom: 25px;
    font-size: 150px;
    font-family:'Alfa Slab One', sans-serif; 
}
a{
    text-decoration: none;
}

/*
=================================================
SEARCH
=================================================
*/
form{
    width:100%;
    max-width:600px;
    margin:0 auto;
 }
 input{
    width:100%;
    font-size:32px;
    margin:5px 0;
    float:left;
    border:none;
    padding:10px;
    outline:none;
 }
 .search-bar{
    width:85%;
 }
 .submit-button{
    width:15%;
    background:#000;
    color:#FFF;
 }
 
/*
=================================================
BOOKMARKS
=================================================
*/
.bookmarks{
    padding:30px;
    clear:both;
 }
 .bookmarks a{
    font-size:42px;
    margin:0 20px;
    color:#000;
    transition:.15s;
    vertical-align: top;
 }
 .bookmarks a:hover{
    font-size:72px;
    position:relative;
 }
 /*
=================================================
POST-IT NOTE (IN CSS)
=================================================
*/
#note{
    width:250px;
    height:250px;
    resize: none;
    background:#F3F19D;
    padding:15px;
    border:none;
    position: absolute;
    bottom:50px;
    left:50px;
    font-family:sans-serif;
    opacity:0;
    transition:.3s;
   }

#note:hover{
    opacity:1;
}